maps.zip
*.doom.wad*
*.doom2.wad*
*.png
*.wad*
*.dmx
*.ogg
*.wav
*.mp3
*.dbs
*.lmp
*animdefs*
*sndinfo*
*textures*
*sndseq*
tools/convlog.txt
tools/tools/zwadconv.bat
tools/tools/convlog.txt
tools/tools/logs/
tools//logs/
logs/extract.txt
logs
LexiconWadConverter
LexiconWadConverter.bat
tools/zwadconv.bat
tools/zwadconv.bat
tools/zandronum/zandronum-Tribeam.ini
Run copy.bat
